# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/webpack-dev-server/node_modules/ws/lib/websocket.js
node_modules/webpack-dev-server/node_modules/ws/lib/websocket-server.js
node_modules/core-js/modules/web.url.constructor.js
node_modules/webpack-dev-server/node_modules/ws/README.md
node_modules/webpack-dev-server/node_modules/ws/package.json
node_modules/terser-webpack-plugin/types/utils.d.ts
node_modules/terser-webpack-plugin/dist/utils.js
node_modules/core-js/modules/web.url.constructor.js
node_modules/terser-webpack-plugin/dist/utils.js
node_modules/terser-webpack-plugin/types/utils.d.ts
node_modules/webpack-dev-server/node_modules/ws/package.json
node_modules/webpack-dev-server/node_modules/ws/README.md
node_modules/webpack-dev-server/node_modules/ws/lib/websocket-server.js
node_modules/webpack-dev-server/node_modules/ws/lib/websocket.js
node_modules/terser-webpack-plugin/dist/index.js
node_modules/terser-webpack-plugin/package.json
node_modules/postcss-selector-parser/README.md
node_modules/postcss-selector-parser/postcss-selector-parser.d.ts
node_modules/postcss-selector-parser/package.json
node_modules/postcss-selector-parser/CHANGELOG.md
node_modules/cssdb/package.json
node_modules/cssdb/cssdb.mjs
node_modules/cssdb/cssdb.json
node_modules/core-js-pure/modules/web.url.constructor.js
node_modules/core-js-pure/modules/web.url-search-params.constructor.js
node_modules/core-js-pure/modules/web.queue-microtask.js
node_modules/core-js-pure/modules/esnext.weak-set.of.js
node_modules/core-js-pure/modules/esnext.weak-set.from.js
node_modules/core-js-pure/modules/esnext.weak-map.of.js
node_modules/core-js-pure/modules/esnext.weak-map.from.js
node_modules/core-js-pure/modules/esnext.string.dedent.js
node_modules/core-js-pure/modules/esnext.set.of.js
node_modules/core-js-pure/modules/esnext.set.from.js
node_modules/core-js-pure/modules/esnext.map.of.js
node_modules/core-js-pure/modules/esnext.map.from.js
node_modules/core-js-pure/modules/es.weak-map.constructor.js
node_modules/core-js-pure/modules/es.symbol.constructor.js
node_modules/core-js-pure/modules/es.string.starts-with.js
node_modules/core-js-pure/modules/es.string.ends-with.js
node_modules/core-js-pure/modules/es.promise.reject.js
node_modules/core-js-pure/modules/es.function.has-instance.js
node_modules/core-js-pure/modules/es.array.push.js
node_modules/core-js-pure/internals/shared.js
node_modules/core-js-pure/internals/object-get-own-property-names-external.js
node_modules/core-js-pure/internals/microtask.js
node_modules/core-js-pure/internals/is-object.js
node_modules/core-js-pure/internals/is-callable.js
node_modules/core-js-pure/internals/get-set-record.js
node_modules/core-js-pure/internals/collection-strong.js
node_modules/core-js-pure/internals/collection-of.js
node_modules/core-js-pure/internals/collection-from.js
node_modules/core-js-pure/internals/array-sort.js
node_modules/core-js-pure/internals/a-possible-prototype.js
node_modules/core-js-pure/internals/a-data-view.js
node_modules/core-js-pure/package.json
node_modules/core-js-compat/README.md
node_modules/core-js-compat/package.json
node_modules/core-js-compat/data.json
node_modules/core-js/modules/web.url-search-params.constructor.js
node_modules/core-js/modules/web.queue-microtask.js
node_modules/core-js/modules/esnext.weak-set.of.js
node_modules/core-js/modules/esnext.weak-set.from.js
node_modules/core-js/modules/esnext.weak-set.from.js
node_modules/core-js/modules/esnext.weak-set.of.js
node_modules/core-js/modules/web.queue-microtask.js
node_modules/core-js/modules/web.url-search-params.constructor.js
node_modules/core-js/modules/web.url.constructor.js
node_modules/core-js-compat/data.json
node_modules/core-js-compat/package.json
node_modules/core-js-compat/README.md
node_modules/core-js-pure/package.json
node_modules/core-js-pure/internals/a-data-view.js
node_modules/core-js-pure/internals/a-possible-prototype.js
node_modules/core-js-pure/internals/array-sort.js
node_modules/core-js-pure/internals/collection-from.js
node_modules/core-js-pure/internals/collection-of.js
node_modules/core-js-pure/internals/collection-strong.js
node_modules/core-js-pure/internals/get-set-record.js
node_modules/core-js-pure/internals/is-callable.js
node_modules/core-js-pure/internals/is-object.js
node_modules/core-js-pure/internals/microtask.js
node_modules/core-js-pure/internals/object-get-own-property-names-external.js
node_modules/core-js-pure/internals/shared.js
node_modules/core-js-pure/modules/es.array.push.js
node_modules/core-js-pure/modules/es.function.has-instance.js
node_modules/core-js-pure/modules/es.promise.reject.js
node_modules/core-js-pure/modules/es.string.ends-with.js
node_modules/core-js-pure/modules/es.string.starts-with.js
node_modules/core-js-pure/modules/es.symbol.constructor.js
node_modules/core-js-pure/modules/es.weak-map.constructor.js
node_modules/core-js-pure/modules/esnext.map.from.js
node_modules/core-js-pure/modules/esnext.map.of.js
node_modules/core-js-pure/modules/esnext.set.from.js
node_modules/core-js-pure/modules/esnext.set.of.js
node_modules/core-js-pure/modules/esnext.string.dedent.js
node_modules/core-js-pure/modules/esnext.weak-map.from.js
node_modules/core-js-pure/modules/esnext.weak-map.of.js
node_modules/core-js-pure/modules/esnext.weak-set.from.js
node_modules/core-js-pure/modules/esnext.weak-set.of.js
node_modules/core-js-pure/modules/web.queue-microtask.js
node_modules/core-js-pure/modules/web.url-search-params.constructor.js
node_modules/core-js-pure/modules/web.url.constructor.js
node_modules/cssdb/cssdb.json
node_modules/cssdb/cssdb.mjs
node_modules/cssdb/package.json
node_modules/postcss-selector-parser/CHANGELOG.md
node_modules/postcss-selector-parser/package.json
node_modules/postcss-selector-parser/postcss-selector-parser.d.ts
node_modules/postcss-selector-parser/README.md
node_modules/terser-webpack-plugin/package.json
node_modules/terser-webpack-plugin/dist/index.js
node_modules/terser-webpack-plugin/dist/utils.js
node_modules/terser-webpack-plugin/types/utils.d.ts
node_modules/webpack-dev-server/node_modules/ws/package.json
node_modules/webpack-dev-server/node_modules/ws/README.md
node_modules/webpack-dev-server/node_modules/ws/lib/websocket-server.js
node_modules/webpack-dev-server/node_modules/ws/lib/websocket.js
node_modules/core-js/modules/esnext.weak-map.of.js
node_modules/core-js/modules/esnext.weak-map.from.js
node_modules/core-js/modules/esnext.string.dedent.js
node_modules/core-js/modules/esnext.set.of.js
node_modules/core-js/modules/esnext.set.from.js
node_modules/core-js/modules/esnext.map.of.js
node_modules/core-js/modules/esnext.map.from.js
node_modules/core-js/modules/esnext.data-view.set-uint8-clamped.js
node_modules/core-js/modules/esnext.data-view.set-float16.js
node_modules/core-js/modules/es.weak-map.constructor.js
node_modules/core-js/modules/es.symbol.constructor.js
node_modules/core-js/modules/es.string.starts-with.js
node_modules/core-js/modules/es.string.split.js
node_modules/core-js/modules/es.string.ends-with.js
node_modules/core-js/modules/es.regexp.to-string.js
node_modules/core-js/modules/es.regexp.dot-all.js
node_modules/core-js/modules/es.promise.reject.js
node_modules/core-js/modules/es.object.proto.js
node_modules/core-js/modules/es.array.push.js
node_modules/core-js/modules/es.function.has-instance.js
node_modules/core-js/internals/typed-array-constructor.js
node_modules/core-js/internals/shared.js
node_modules/core-js/internals/object-get-own-property-names-external.js
node_modules/core-js/internals/safe-get-built-in.js
node_modules/core-js/internals/microtask.js
node_modules/core-js/internals/is-possible-prototype.js
node_modules/core-js/internals/is-object.js
node_modules/core-js/internals/is-callable.js
node_modules/core-js/internals/get-set-record.js
node_modules/core-js/internals/collection-strong.js
node_modules/core-js/internals/collection-of.js
node_modules/core-js/internals/collection-from.js
node_modules/core-js/internals/array-sort.js
node_modules/core-js/internals/array-buffer.js
node_modules/core-js/internals/a-possible-prototype.js
node_modules/core-js/internals/a-data-view.js
node_modules/core-js/package.json
node_modules/caniuse-lite/data/features/hevc.js
node_modules/caniuse-lite/data/features/fullscreen.js
node_modules/caniuse-lite/package.json
node_modules/@types/react/ts5.0/index.d.ts
node_modules/@types/react/README.md
node_modules/@types/react/package.json
node_modules/@types/react/index.d.ts
node_modules/.package-lock.json
